Repository smallwebbird/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, prettier --write

.lintstagedrc:

{
  "{apps,demos}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --color",
    "prettier --write"
  ],
  "{apps,demos}/**/*.{css,less,md,json}": ["prettier --write"]
}

feat: 提交代码
  apps/top-design-web-react/components/index.tsx
  libraries/top-design-markdown-loader/src/index.js
Due: eslint --fix --color, prettier --write

feat: 提交
  libraries/top-design-markdown-loader/src/index.js
Due: none

feat: 提交代码
  common/git-hooks/commit-msg
  common/git-hooks/pre-commit
  common/git-hooks/prepare-commit-msg
  libraries/top-design-markdown-loader/_tmp_15264_2f8b6964230567fb10e3141a40f6a244
  libraries/top-design-markdown-loader/_tmp_16056_82949869b0cf514d04dfbfd817359fa9
  libraries/top-design-markdown-loader/src/index.js
Due: none

feat: 提交代码
  apps/top-design-web-react/package.json
  libraries/top-design-markdown-loader/CHANGELOG.json
  libraries/top-design-markdown-loader/CHANGELOG.md
  libraries/top-design-markdown-loader/package.json
Due: prettier --write

feat: 提交代码
  libraries/top-design-markdown-loader/src/index.js
Due: none

feat: 提交
  apps/top-design-web-react/package.json
  common/autoinstallers/rush-command/pnpm-lock.yaml
  common/autoinstallers/rush-lint/package.json
  common/autoinstallers/rush-lint/pnpm-lock.yaml
  common/config/rush/.npmrc
  common/config/rush/.npmrc-publish
  common/config/rush/pnpm-lock.yaml
  common/git-hooks/prepare-commit-msg
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  libraries/top-design-markdown-loader/CHANGELOG.json
  libraries/top-design-markdown-loader/CHANGELOG.md
  libraries/top-design-markdown-loader/_tmp_10452_545f3e10303b89670c0c6ed286a9efbf
  libraries/top-design-markdown-loader/_tmp_16120_fe220be06923b4d07787facfbbdda5b7
  libraries/top-design-markdown-loader/_tmp_16928_c645947bfb8ed5e1f2a6932b877e4dca
  libraries/top-design-markdown-loader/_tmp_21100_ac6ce1b973d1f3f36c26962a73a4c948
  libraries/top-design-markdown-loader/_tmp_7540_65348ea8f246d3194c98e7295e1470c2
  libraries/top-design-markdown-loader/_tmp_8080_895743870f39bfb6fb1fc7e59cda2b5e
  libraries/top-design-markdown-loader/package.json
  libraries/top-design-markdown-loader/src/index.js
  rush.json
Due: prettier --write

f提交
  libraries/top-design-markdown-loader/src/index.js
Due: none

feat: 提交代码
  common/config/rush/.npmrc
  common/config/rush/.npmrc-publish
  common/git-hooks/commit-msg
Due: none
